<div class="form-group">
  <label for="deviceType" class="control-label">Device Type</label>
  <input class="form-control" type="text" id="deviceType_input" name="deviceType" placeholder="Enter device type...">
  <span class="help-block hidden"></span>
</div>
<div class="form-group">
  <label for="serialNumber" class="control-label">Serial Number</label>
  <input class="form-control" type="text" id="serialNumber_input" name="serialNumber" placeholder="Enter serial number...">
  <span class="help-block hidden"></span>
</div>
<div class="form-group">
  <label for="manufacturer" class="control-label">Manufacturer</label>
  <input class="form-control" type="text" id="manufacturer_input" name="manufacturer" placeholder="Enter manufacturer...">
  <span class="help-block hidden"></span>
</div>