<div class="form-group">
  <label for="facilityName" class="control-label">Facility Name</label>
  <input class="form-control" type="text" id="facilityName_input" name="facilityName" placeholder="Enter facility name...">
  <span class="help-block hidden"></span>
</div>
<div class="form-group">
  <label for="facilityNumber" class="control-label">Facility Number</label>
  <input class="form-control" type="text" id="facilityNumber_input" name="facilityNumber" placeholder="Enter facility number...">
  <span class="help-block hidden"></span>
</div>
<div class="form-group">
  <label for="phone" class="control-label">Phone Number</label>
  <input class="form-control" type="text" id="phone_input" name="phone" placeholder="Enter phone number...">
  <span class="help-block hidden"></span>
</div>
<div class="form-group">
  <label for="facilityLocation" class="control-label">Location</label>
  <input class="form-control" type="text" id="facilityLocation_input" name="facilityLocation" placeholder="Enter facility location...">
  <span class="help-block hidden"></span>
</div> 